.menu-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 10%;
  padding-top: 1rem;
}
