.menus-details {
    @apply bg-white w-3/5 p-4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .img {
    width: 250px; /* set your fixed width */
    height: 250px; /* set your fixed height */
    max-width: 100%; /* ensure it doesn't exceed the specified width */
    max-height: 100%; /* ensure it doesn't exceed the specified height */
  }
  